body {
    background-color: black;
    color: whitesmoke;
    font-family: Arial, sans-serif;
}

#banner {
    font-family: Consolas, sans-serif;
    color: lime;
    font-size: 30px;
}

#container {
    margin: 40px;
}


#nav ul {
    list-style: none;
    padding: 0;
}

#nav li {
    display: inline;
    margin-right: 10px; /* optional, adds some spacing between list items */
}

table td {
    transition: background-color 0.3s ease; /* Add transition */
}

table td:hover {
    background-color: lightgray;
}

#error {
    background-color: brown;
    color: black;
}

#success {
    background-color: darkgreen;
    color: black;
}